/*Navigation Menu*/
.nav {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.HomeButton {
  top: 0;
  width: 25vw;
  height: 30px;
  background-color: dimgray;
  text-emphasis-color: aliceblue;
  border-width: 0;
  color: aliceblue;
}

.PlatformButton {
  top: 0;
  width: 25vw;
  height: 30px;
  background-color: darkslategray;
  border-width: 0;
  color: aliceblue;
}

.CountryButton {
  top: 0;
  width: 25vw;
  height: 30px;
  background-color: burlywood;
  border-width: 0;
  color: aliceblue;
}

.OverviewButton {
  top: 0;
  width: 25vw;
  height: 30px;
  background-color: beige;
  border-width: 0;
  color: black;
}

/*Body Elements*/
h1 {
  top: 70px;
  left: 300px;
  color: white;
}

body {
  background: url(back2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top 10%;
  height: 100vh;
}

@media (max-width: 750) {
  body {
    background: url(back2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top 10%;
    height: 150vh;
  }
}

@media (max-width: 1200px) {
  body {
    background: url(back2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top 10%;
    height: 120vh;
  }
}

#div1 {
  color: white;
  width: 50vw;
  margin: auto;
}

a {
  color: white;
}

#music {
  left: 550px;
  top: 700px;
}
