/*Navigation Menu*/
.HomeButton {
    position: absolute;
    left:0;
    top:0;
    height: 30px;
    background-color:dimgray;
    width:350px;
    text-emphasis-color: aliceblue;
    border-width: 0;
    color:aliceblue;   
}

.PlatformButton {
    position: absolute;
    left:350px;
    top:0;
    height: 30px;
    background-color: darkslategray;
    width:375px;
    border-width: 0;
    color:aliceblue;
}

.CountryButton {
    position: absolute;
    left:725px;
    top:0;
    height: 30px;
    background-color: burlywood;
    width:375px;
    border-width: 0;
    color:aliceblue;
    
}

.OverviewButton{
    position: absolute;
    left:1100px;
    top:0;
    height: 30px;
    background-color: beige;
    width:350px;
    border-width: 0;
    color: black;
}




/*Body Elements*/
h1{
    position: fixed;
    top:70px;
    left:300px;
    color: white;
    
}

body{
    background-image: url(back2.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position: top 10%;

}

#div1{
    color: white;
    position: fixed;
    left: 340px;
    top: 120px;
}

a{
    color: white;
}

#music{
    position: fixed;
    left: 550px;
    top:700px;
}